#navbar {
	height: 58px;
    background-color: #455164;
}

#navbar .container {
    height: 60px;
}

#navbar ul {
    list-style-type: none;
    padding-left: 0px;
    font-family: Bitter;
}

#navbar ul li {
    display: inline-block;
    padding: 15px;
    padding-top: 16px;
}

#navbar ul li a {
    color: #ecf0f1;
}

#navbar ul li a:hover {
    color: #62798d;
}

#navbar .donate {
    color:  #62798d;
    background-color:#F08F90;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#navbar .donate:hover a{
    color:  white;
}

#navbar #toggle span {
    color:  #747c83;
    font-size: 25px;
    margin-top: 17px;
}

#navbar #title {
    padding-top: 17px;
    padding-left: 0px;
}

#navbar #join-us {
    font-size: 0.8rem;
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 9px;
    padding: 10px;
    border-radius: 2px;
    background-color: transparent;
    background-color: #694D9F;
}

#navbar #brand {
    text-decoration: none;
}

#navbar #page-name {
    font-size: 0.9rem;
    color:  #ecf0f1;
    margin-top: 2px;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 400;
    font-family: Bitter;
}

header {
    
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    --border-top: 2px solid rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background-color:#F08F90;
}
    
header h1 {
    color: rgba(255,255,255,1);
    font-weight: 700;
    text-align: left;
}

header p {
    color: white;
    margin-top: 20px;
    text-align: center;
}

#donate {
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	background-color: white;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 50px;
    margin-top: 50px;
}

#donate ul {
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
}

#donate ul li {
	list-style-type: none;
	display: inline-block;
}

#donate #payment-method {
	margin-bottom: 0px;
}

#donate #payment-method label {
	height: 70px;
	width: 182px;
    color: #334D5D;
    text-align: center;
    font-weight: 300;
    border-radius: 2px;
    cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	vertical-align: middle;
	transition: 0.3s;
	background-image: none;
	background-color: white;
	margin-top: 10px;
}

#donate #payment-method label[for="paypal"] {
    background-image: url(../img/paypal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

#donate #payment-method label[for="credit"] {
    background-image: url(../img/credit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#donate #payment-method input[type="radio"]:checked + label {
	border: 1px solid #D02E27;
    color: white;
}

.amount label {
    height: 50px;
    width: 120px;
    color: #334D5D;
    text-align: center;
    font-weight: 300;
    border-radius: 2px;
    cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	vertical-align: middle;
	transition: 0.3s;
	padding-top: 12px;
}

.amount label:hover {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
}

.amount input[type="radio"]:checked + label {
    background-color: #D02E27;
	border: 1px solid #D02E27;
    color: white;
}

.other_amount label {
    height: 50px;
    color: #334D5D;
    text-align: center;
    font-weight: 300;
    border-radius: 2px;
    cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	vertical-align: middle;
	padding: 0px;
	padding-left: 15px;
	transition:0.3s;
}

.other_amount label input {
	width: 200px;
	border: 0px;
	font-size: 0.8rem;
	height: 100%;
	padding-left: 10px;
	margin-left: 10px;
}

.other_amount label:hover {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
}

.other_amount input[type="radio"]:checked + label {
    background-color: #D02E27;
	border: 1px solid #D02E27;
    color: white;
}

.other_amount input[type="radio"]:checked + label > input {
	color: #747c83;
}

form .submit_payment {
	text-align: center;
	margin-top: 30px;
}

form .submit_payment button {
    height: 50px;
    width: 120px;
    color: #334D5D;
    text-align: center;
    font-weight: 300;
    border-radius: 2px;
    cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	vertical-align: middle;
	transition: 0.3s;
	background-color: white;
}

form .submit_payment button:hover {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
}

.border {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

input[type="radio"] {
    display: none;
}

footer {
	margin-top: 80px;
}

footer {
    background-color: #455164;
}