html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, Sans Serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #ecf0f1;
}

#faq {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #334D5D;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #334D5D;
    text-align: left;
}

p {
    color: #666;
}
