#navbar {
	height: 60px;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 0px;
	background-color:white;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	font-family:bitter;
	
}

#navbar ul {
    list-style-type: none;
    padding-left: 0px;
}

#navbar ul li {
    display: inline-block;
    padding: 15px;
    margin-top: 3px;
}

#navbar #toggle span {
    color: black;
    font-size: 30px;
    margin-top: 15px;
	
}
#navbar #toggle{
	background-image: none;
    background-color: transparent;
    border: none;
	
}

#navbar #join-us {
	padding: 15px;
}

#navbar #brand {
    padding-top: 10px;
    text-decoration: none;
}

#navbar a {
	font-size: 0.7rem;
	font-weight: 700;
	text-transform: uppercase;
}

video{
	position:absolute; 
	top:0; 
	left:0; 
	right:0;
	bottom:0;
	margin: auto;
    min-height: 50%;
    min-width: 50%;	
	overflow:hidden;
}
#header-video{
	position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
	overflow:hidden;	
}

#hero {
    text-align: center;
	background: rgba(51, 60, 78, 0.7);
    padding-top: 50px;
    padding-bottom: 200px;

}

#hero #developers-logo {
	margin-top: 10%;
	margin-bottom: 10%;
}

#hero h2 {
	font-size: 2rem;
	font-weight: 300;
	color: white;
	text-align: center;
	font-family:bitter;
}

#hero h2 strong {
	font-size: 2rem;
	font-weight: 300;
	background-color: #694D9F;
	padding: 5px;
	border-radius: 2px;
	font-family:bitter;
}

#hero #play-btn {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border:none;
	background-image: none;
	background-color: white;
	text-align: center;
	margin-top: 20px;
}

#hero #play-btn span  {
	font-size: 1rem;
}

#btnmenu{
position:relative;
top:80px;	
margin-left:80%;	
}

.btn {
	color:white;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border:none;
	background-image: none;
	background-color:transparent;
	text-align: center;
	margin-top: 20px;

}
.btn:focus{
color:white;
}
.btn:hover{
color:white;
}

.btn span{
	font-size: 1rem;
}
#overview {
    background-color: white;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 70px;
}

#overview p {
    font-size: 0.8rem;
    font-weight: 400;
	margin-top: 15px;
}

#overview .row {
    margin-top: 30px;
}

#overview .icon-overview {
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px solid #747c83;
    padding-top: 15px;
}

#overview .icon-overview span {
    font-size: 30px;
}

#overview a {
	text-transform: uppercase;
}

#tools {
    padding-bottom: 80px;
    padding-top: 60px;
    background-color:white;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
}

#tools span {
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 1.5rem;
    color: #62798d;

}

#tools h1 {
    text-align: center;
}

#tools h2 {
	margin-top: 0px;
}

#tools p {
    text-align: left; 
}

#tools #tools-btn {
    text-align: center;
    margin-top: 80px;
}

#tools #tools-btn a {
	text-transform: uppercase;
}

#documented-web {
    padding-bottom: 200px;
    padding-top: 60px;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}

#documented-web h1 {
	margin-top: 150px;
	margin-bottom: 15px;
	padding-left: 15px;
	text-align: left;
}

#documented-web #webplatform-btn {
    margin-top: 50px;
}

#documented-web #webplatform-btn a {
	text-transform: uppercase;
}

#learning {
    padding-top: 20px;
    padding-bottom: 70px;
    background-color: white;
    text-align: center;
    padding-top: 60px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

#community {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: rgba(51, 60, 78, 1);
	background: url(../img/noise.png) rgba(51, 60, 78, 1);
}

#community h1{
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

#community-btn {
    padding-top: 0px;
    text-align: center;
}

#community-btn a {
    text-transform: uppercase;
}

.sr {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#toggle-menu {
    background-color:white;
	
}

#toggle-menu ul {
    padding-left: 0px;
    margin-bottom: 0px;

}

#toggle-menu ul li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(51, 60, 78, 0.2);
	border-width:100%;
	text-align:left;
}

#toggle-menu ul li a {
    color: black;
    font-family: Bitter;
}

#captionBar{
	width: 480px;
	 position: absolute; 
	 top: 280px;
	 padding: 3px 10px;
	  text-align:  center; 
	  color:#fff;
	  background-color:#000;
	   font-family:  Helvetica,Arial,sans-serif; 
	   font-size: 0.9em; 
	   font-weight: bold;
	   min-height:3.6em;
	   
	   
}
