body {

    background-color: #333c4e;
    background-color: #5C6BC0;
}

header {
    background-image: url(../img/bg-pattern-landing.svg);
    background-repeat: repeat;
    background-size: 150px 150px;
    background: linear-gradient(to right, #536DFE, #3D5AFE, #304FFE);

}

header nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

header #hero {
    padding: 100px 0px 100px 0px;
    text-align: center;
}

header #hero h1.motto {
    font-size: 2rem;
    font-family: Roboto;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    letter-spacing: .02rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 50px;
}

header #hero .explore {
    padding: 20px 30px 20px 30px;
    background-color: #004dd1;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#get-started {
    background-color: #F5F5F5;
    padding: 30px 0px 50px 0px;
}

#get-started .card {
    background-color: white;
    border-radius: 5px;
    height: 400px;
    max-width: 280px;
    margin: auto;
    margin-top: 20px;
    transition: all 0.8s cubic-bezier(.42,.07,.05,.98);
    --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#get-started .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#get-started .card-header {
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
}

#get-started #learning-card .card-header {
    background-color: #b34a00;
    background: linear-gradient(to right, #b34a00, #943e00);
}

#get-started #devtools-card .card-header {
    background-color: #1e00b3;
    background: linear-gradient(to right, #1e00b3, #190094);
}

#get-started #getinvolved-card .card-header {
    background-color: #b3003b;
    background: linear-gradient(to right, #b3003b, #940031);
}

#get-started #testthewebforward-card .card-header {
    background-color: #a604c3;
    background: linear-gradient(to right, #a604c3, #8803a0);
}

#get-started .card-header h2 {
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .02em;
}

#get-started .card-content {
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

#get-started .card-content p {
    font-size: 1rem;
    color: rgba(0,0,0,0.87);
    line-height: 1.7rem;
}

#get-started .card-content ul {
    padding: 0px;
}

#get-started .card-content ul li {
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

#get-started .card-content ul li a {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .02em;
    font-family: Roboto;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

#get-started .card-content ul li a:hover {
    color: #536DFE;
}

#breaking-news {
        background-color: white;
        text-align: center;
}

#breaking-news img {
    margin: auto;
    margin-top: 20px;
    max-width: 220px;
}

#breaking-news h2 {
    text-align: left;
}

#breaking-news p {
    line-height: 1.7rem;
    text-align: left;
}

#breaking-news p.call-to-action a {
    font-size: 1.1rem;
    letter-spacing: .02em;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: Roboto;
    color: white;
}

#breaking-news {
    background-color: white;
    padding: 50px 0px 50px 0px;
}

#breaking-news p {
        line-height: 1.8rem;
}

#breaking-news h2 a {
    color: #536DFE;
    text-decoration: none;
    letter-spacing: 0.02rem;
}

#breaking-news p.call-to-action a {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #536DFE;
    text-decoration: none;
    letter-spacing: 0.02rem;
}

#breaking-news h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    font-family: Roboto;
    letter-spacing: 0.02rem;
}

#friends {
    padding: 50px 0px 50px 0px;
    background-color: #F5F5F5;
    background: linear-gradient(to right, #7C4DFF , #651FFF, #6200EA);
}

#friends p {
    color: rgba(0,0,0,0.87);
    line-height: 1.7rem;
    color: rgba(255,255,255,1);
}

#friends h2 {
    font-size: 1.8rem;
    letter-spacing: .02em;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: Roboto;
    color: rgba(0,0,0,0.87);
    color: rgba(255,255,255, 1);
}

#friends p a {
    color: white;
}

#friends p.call-to-action {
    margin-top: 30px;
}

#friends p.call-to-action a {
    padding: 20px 30px 20px 30px;
    background-color: #6200EA;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


@media (max-width: 768px) {

    header #hero {
        padding: 80px 0px 100px 0px;
    }

    header #hero h1.motto {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #breaking-news {
        text-align: center;
    }

    #breaking-news h2 {
        font-size: 1.5rem;
        font-weight: 300;
    }
    #friends {
        text-align: center;
    }

    #friends h2 {
        font-size: 1.5rem;
    }
}
