html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, Sans Serif;
    font-weight: 300;
    font-size: 18px;
	color: #747c83;
    background-color: #ecf0f1;
}

.align-right {
    text-align: right;
}

.align-left {
 text-align: left;   
}

.align-center {
    text-align: center;
}

h1 {
	color: rgba(51, 60, 78, 1);
    font-weight: 300;
    font-size: 1.4rem;
    font-family: Bitter;
}

h2 {
	font-weight: 300;
	color: #333c4e;
	font-size: 1.2rem;
	text-align: left;
}

h3 {
	font-weight: 700;
	font-size: 0.8rem;
	color: #62798d;
}

a {
	font-size: 0.8rem;
	font-weight: 400;
	color: #747c83;
	text-decoration: none;
	transition: 0.3s;
}

a.light {
	color: #62798d;
	color: white;
}

a:hover {
	color: #747c83;
	text-decoration: none;
}

a.light:hover {
	color: white;
	color: #62798d;
}

a.button {
	color: #747c83;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	padding: 10px;
}

a.button.light {
	color: #62798d;
	border: 1px solid #62798d;
}

a.button:hover {
	color: #747c83;
	border: 1px solid #747c83;
}

a.button.light:hover {
	color: white;
	border: 1px solid white;
}


#developers-header {
    padding: 10px;
    height: 50px;
    background-color: #333c4e;
    background-color: #ecf0f1;
}

#developers-header #brand-name {
    font-weight: 400;
    padding-top: 0px;
    font-family: Bitter;
    padding-left: 10px;
    font-size: 0.6rem;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1rem;
    background-color:#ecf0f1;
}

footer .brand {
    margin-top: 20px;
}

footer .brand img {
    margin-left: 30px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

footer li {
    padding-top: 10px;
}

footer #copyright {
    margin-top: 50px;
    text-align: center;
	font-size: 0.8rem;
}

footer #copyright a {
	font-size: 0.8rem;
}

.sr {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}