html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, Sans Serif;
    font-weight: 400;
}

#navbar {
    transition: 0.3s;
    height: 50px;
    background-color: #5682A3;
}

#navbar #social-links {
    text-align: right;
}

#navbar #social-links img {
    margin: 5px;
    margin-top: 15px;
}

header {
    margin-top: 50px;
    text-align: center;
    padding: 25px;
    color: white;
    background-color: #5682A3;
}

#tools h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #5682A3;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    margin-bottom: 50px;
}

#tools {
    padding-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 50px;
}

#tools #index {
    text-align: center;
    padding-bottom: 50px;
}

#tools #index a {
    padding: 10px;
    font-size: 20px;
    color: #eee;
}

#tools #index a.active {
    color: #5682A3;
}

#tools h3 {
    padding: 10px;
    font-size: 20px;
    color: #5682A3;
}

.tool a {
    text-align: left;
    font-size: 16px;
}

.tool p {
    text-align: left;
    font-weight: 400;
    color: #666;
    font-size: 16px;
}

#community {
    background-color: white;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 100px;
}

#community h1{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #5682A3;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    margin-bottom: 50px;
}

#community h2{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #5682A3;
    margin-top: 15px;
}

#community span {
    margin-top: 20px;
    font-size: 40px;
    color: #5682A3;
    text-align: center;
}

#community p {
    text-align: left;
    font-weight: 400;
    color: #666;
    font-size: 16px;
}

.community-box {
    text-align: center;
}

#community #btn {
    padding: 5px;
    background-color: #84A2BC;
    color: white;
    border-radius: 2px;
}

#ilovevalidators {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #E7EBF0;
}

#ilovevalidators h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #5682A3;
    padding-bottom: 20px;
}

#ilovevalidators p {
    text-align: center;
    font-weight: 400;
    color: #666;
    font-size: 16px;
}

#ilovevalidators #donate {
    padding: 18px;
    background-color: #F62459;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#ilovevalidators #donate:hover {
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#ilovevalidators img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#ilovevalidators #learn-more {
    font-size: 16px;
    margin-top: 20px;
}

footer {
    padding-top: 100px;
    padding-bottom: 50px;
}

footer h2 {
    font-size: 16px;
    font-weight: 700;
    color: #84A2BC;
    padding-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

footer li {
    padding-top: 10px;
}

footer a {
    font-size: 16px;
    font-weight: 400;
    color: #84A2BC;
}

footer #copyright {
    margin-top: 100px;
    text-align: center;
}
