header {
    background: linear-gradient(to right, #448AFF, #2979FF, #2962FF);
}

header nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

header #hero {
    padding: 100px 0px 100px 0px;
    text-align: center;
}

header #hero h1.motto {
    font-size: 2rem;
    font-family: Roboto;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    letter-spacing: .02rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 50px;
}

header #hero .explore {
    padding: 20px 30px 20px 30px;
    background-color: #448AFF;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


#tools {
    padding: 30px 0px 50px 0px;
    text-align: left;
    background-color: white;
}

#tools .tool {
    margin-top: 50px;

}

#tools .tool .call-to-action {
    margin-top: 10px;
}

#tools .tool .call-to-action a {
    padding: 0px 3px 0px 3px;
}

#tools .tool .call-to-action a img {
    opacity: 0.7;
}

#tools .tool .call-to-action a img:hover {
    opacity: 1;
}

#tools .tool .use-the-tool {

}

#tools .tool h3 {
    margin-top: 0px;
    font-size: 1rem;
    font-family: Roboto;
    letter-spacing: .02rem;
    font-weight: 400;
    margin-bottom: 5px;
    color: #536DFE;
}

#tools .tool p {
    color: #666;
    margin-bottom: 0px;
    font-family: Roboto slab;
    font-size: 1rem;
    font-weight: 300;
}

#tools .tool-icon {
    display: none;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    float: left;
    margin-bottom: 150px;
    margin-right: 30px;
    font-size: 0.9rem;
    font-family: Roboto slab;
    color: #448AFF;
    padding-top: 12px;
    text-align: center;
}

#tools .tool a {
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: .02em;
    font-family: Roboto;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

#tools .tool a:hover {
    text-decoration: none;
    color: #536DFE;
}

#featured {
    background-color: #F5F5F5;
    padding: 50px 0px 50px 0px;
}

#featured p {
        line-height: 1.8rem;
}

#featured h2 a {
    color: #536DFE;
    text-decoration: none;
    letter-spacing: 0.02rem;
}

#featured p.call-to-action a {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #536DFE;
    text-decoration: none;
    letter-spacing: 0.02rem;
}

#featured h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    font-family: Roboto;
    letter-spacing: 0.02rem;
}

#more {
    background-color: white;
    padding: 50px 0px 50px 0px;
}

#more h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    font-family: Roboto;
}

#more p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0,0,0,0.54);
    font-family: Roboto Slab;
}

#more p a {
    text-decoration: none;
    color: #536DFE;
}

#more p.call-to-action a {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #536DFE;
    text-decoration: none;
}



@media (max-width: 768px) {

    header #hero {
        padding: 80px 0px 100px 0px;
    }

    header #hero h1.motto {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

}
