html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, Sans Serif;
    font-weight: 400;
    background-color: #F7F7F7;
}

#toolbox-nav {
    margin-bottom: 0px;
    padding-top: 0px;
    height: 61px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    background-color: #384047;
}

#toolbox-nav ul {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

#toolbox-nav ul li {
    color: #212933;
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    padding-top: 21px;
    display: inline-block;
    list-style-type: none;
    height: 61px;
}

#toolbox-nav ul li:hover {
    background-color: #384047;
}

#toolbox-nav a {
    color: white;
    text-decoration: none;
}

#toolbox-title {
    height: 250px;
    background-color: #1abc9c;
}

#toolbox-title h1 {
    padding-top: 100px;
    font-size: 61px;
    color: white;
    font-weight: 300;
}

#toolbox-title span {
    padding-right: 20px;
}

#validation {
    padding-bottom: 50px;
    background-color: #EDEFF0;
}

#validation div {
    padding: 0;
}

#validation h1{
    color: #666;
    font-size: 25;
    padding-top: 50px;
    font-weight: 400;
    text-align: center;
}

#validation .tool {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#validation .tool .toolname {
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

#validation .tool span {
    font-size: 40px;
    background-color: #999;
    border-radius: 50%;
    padding: 20px;
}

#validation .tool img {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
}

#validation a {
    color: #666;
}

#validation .tool h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    padding-top: 0px;
}

#validation #tools-category {
    height: 400px;
    background-color: white;
    margin-top: 133px;
}