#navbar {
    background-color: #ecf0f1;
	height: 58px;
    background-color: #333c4e;
}

#navbar .container {
    height: 60px;
}

#navbar ul {
    list-style-type: none;
    padding-left: 0px;
    font-family: Bitter;
}

#navbar ul li {
    display: inline-block;
    padding: 15px;
    padding-top: 16px;
}

#navbar ul li a {
    color: #ecf0f1;
}

#navbar ul li a:hover {
    color: #62798d;
}

#navbar #toggle span {
    color:  #747c83;
    font-size: 25px;
    margin-top: 17px;
}

#navbar .tools {
    background-color: #75C9B3;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#navbar #title {
    padding-top: 17px;
    padding-left: 0px;
}

#navbar #join-us {
    font-size: 0.8rem;
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 9px;
    padding: 10px;
    border-radius: 2px;
    background-color: transparent;
    background-color: #694D9F;
}

#navbar #brand {
    text-decoration: none;
}

#navbar #page-name {
    font-size: 0.9rem;
    color:  #ecf0f1;
    margin-top: 2px;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 400;
    font-family: Bitter;
}

header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
    background-color: #ecf0f1;
    background-color: #2A303C;
    background-color: #75C9B3;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
    
header h1 {
    color: rgba(255,255,255,1);
    font-weight: 700;
    text-align: left;
}

header p {
    color: white;
    margin-top: 20px;
    text-align: center;
}

#tools {    
    background-color: #ecf0f1;
    padding-bottom: 60px;
    padding-top: 30px;
}

#tools .row {
    margin-top: 30px;
}

#tools .tool {
    width: 100%;
    height: 200px;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    transition: 0s;
    border: 0px;
    margin-top: 30px;
}

#tools .tool:hover {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#tools .tool h2 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #747c83;
	text-align: center;
}

#tools .tool-icon span {
    font-size: 2rem;
}

#tools #support {
    margin-top: 50px;
	font-size: 0.8rem;
	text-align: center;
}

#tools #support a {
    text-decoration: underline;
    color: #30B4C5;
}

#contribute {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: white;
    text-align: left;
}

#contribute h1 {
    margin-bottom: 50px;
	text-align: center;
	color: #747c83;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Bitter;
}

#contribute img {
    margin-bottom: 50px;
}

#contribute h2 {
    margin-top: 40px;  
}

#contribute #github-btn {
    margin-top: 40px;
    text-align: left;
    padding-left: 0px;
}

#contribute #github-btn a {
    padding: 15px;
    font-size: 1rem;
    border: none;
    font-weight: 300;
    background-color: #ecf0f1;
}

#donate {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color:#ecf0f1;
    text-align: center;
}

#donate p {
    line-height:3;
}

#donate #donate-btn {
    background-color:#F08F90;
    padding: 10px;
    font-size: 1rem;
    border: none;
    font-weight: 300;
    color: white;
}

footer {
    background-color: #333c4e;
}