html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, Sans Serif;
    font-weight: 300;
}

#navbar {
    height: 50px;
    background-color: white;
}

#hero {
    height: 300px;
    background-color: #ECF0F1;
}

#hero #shortcuts {
    height: 200px;
}

#hero #search-tool {
    height: 100;
}

#hero #search-tool input {
    height: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    color: #666;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#hero #search-tool button {
    height: 40px;
    width: 80px;
    border-radius: 2px;
    border: 0;
    color: white;
    background-color: #22A7F0;
}

#side-navbar {
    margin-top: 20px;
    height: 1000px;
    background-color: #ECF0F1;
}

#side-navbar h2 {
    font-size: 16px;
    font-weight: 300;
    color: #22A7F0;
}

#popular-tools {
    text-align: center;
}

#popular-tools h1 {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    font-family: Bitter;
    color: #22A7F0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 3px solid #eee;
}

.popular-tool-box h2 {
    font-size: 16px;
    font-weight: 400;
}

.popular-tool-box p {
    font-size: 14px;
    font-weight: 300;
}

#resources {
    height: 400px;
    margin-top: 50px;
    background-color: #ECF0F1;
}


