html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    font-family: Open Sans, Sans Serif;
    font-weight: 400;
}

#navbar {
    transition: 0.3s;
    height: 50px;
    background-color: white;
    display: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#hero {
    text-align: center;
    padding-bottom: 100px;
    background-color: #5682A3;
}

#hero h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#navbar #social-links {
    text-align: right;
}

#navbar #social-links img {
    margin: 5px;
    margin-top: 15px;
}

#hero #title {
    margin-top: 100px;
}

#hero #shortcuts {
}

#hero #search-tool {
    margin-top: 50px;
}

#hero #search-tool input {
    height: 50px;
    padding: 10px;
    color: white;
    border: 0px;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#hero #search-tool button {
    height: 50px;
    border-radius: 0px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #b3cde0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#find-us {
    text-align: center;
    background-color: #E7EBF0;
    padding-bottom: 20px;
}

#find-us h1 {
    text-align: center;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
    color: #84A2BC;
}

#ilovevalidators {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #E7EBF0;
}

#ilovevalidators h1 {
    text-align: center;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 400;
    color: #5682A3;
    padding-bottom: 20px;
}

#ilovevalidators p {
    text-align: center;
    font-weight: 400;
    color: #84A2BC;
}

#ilovevalidators #donate {
    padding: 18px;
    background-color: #F62459;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#ilovevalidators #donate:hover {
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#ilovevalidators img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#ilovevalidators #learn-more {
    font-size: 12px;
    margin-top: 20px;
}

#popular-tools {
    margin-top: 20px;
    text-align: center;
}

#popular-tools h1 {
    text-align: center;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 400;
    color: #5682A3;
    padding-bottom: 20px;
}

#popular-tools a {
    color: #5682A3;
}

#popular-tools p {
    text-align: center;
    font-weight: 400;
    color: #666;
}

.starred-tool {
    margin-top: 30px;
}

.starred-tool h2 {
    color: #84A2BC;
    font-size: 16px;
    font-weight: 700;
}

.starred-tool p {
    font-size: 14px;
    font-weight: 300;
}

#tools {
    margin-top: 40px;
}

.tool a {
    color: #84A2BC;
}

.tool h2 {
    text-align: left;
    font-size: 14px;
}

.tool p {
    text-align: left;
    font-weight: 400;
    color: #666;
}

#community {
    margin-top: 50px;
    background-color: white;
    padding-top: 20px;
    text-align: center;
}

#community h1{
    text-align: center;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 400;
    color: #5682A3;
    padding-bottom: 40px;
}

#community h2{
    text-align: center;
    font-size: 20px;
    font-family: Bitter;
    font-weight: 400;
    color: #5682A3;
    margin-top: 15px;
}

#community span {
    margin-top: 20px;
    font-size: 40px;
    color: #5682A3;
    text-align: center;
}

#community p {
    text-align: left;
    font-weight: 400;
    color: #666;
}

.community-box {
    text-align: center;
}

#community #btn {
    padding: 5px;
    background-color: #84A2BC;
    color: white;
    border-radius: 2px;
}

footer {
    padding-top: 100px;
    padding-bottom: 50px;
}

footer h2 {
    font-size: 14px;
    font-weight: 700;
    color: #84A2BC;
    padding-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

footer li {
    padding-top: 10px;
}

footer a {
    font-size: 14px;
    font-weight: 400;
    color: #84A2BC;
}

footer #copyright {
    margin-top: 100px;
    text-align: center;
}
